body{
    background-color: #FED76660;
    color: #009FB7;
    min-height: 100vh;
}

#heading{
    background-color: #224870;
    color: #E4E3D3;
    width: fit-content;
    font-size: large;
    text-align: center;
    padding: 1vw;
    margin: auto;
    margin-top: 3vw;
    border:7px double white;
    border-radius: 2vw;
    text-align: center;
}


#content1{
    width: 60vw;
    background-color: #45B69C;
    color: white;
    padding: 1.5rem;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: large;
    border-radius: 2rem;
    text-align: justify;
}

#content2{
    width: 60vw;
    background-color: #06D6A0;
    color: black;
    padding: 1.5rem;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: large;
    border-radius: 2rem;
    text-align: justify;
}

#content3{
    width: 60vw;
    background-color: #21D19F;
    color: #003049;
    padding: 1.5rem;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: large;
    margin-bottom: 5rem;
    border-radius: 2rem;
    text-align: justify;
}

.subs{
    margin-top: 1rem;
    width: 50vw;
    background-color: #d6282840;
    color: white;
    padding: 1.5rem;
    margin-left: 3vw;
    margin-right: 5vw;
    font-size: large;
    border-radius: 2rem;
    text-align: justify;
}

footer {
    position: fixed;
    bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #40BCD855;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#webName{
    margin-left: 1rem;
    color: #23395B;
}

